.table {
  thead tr {
    background-color: var(--primary);
    color: var(--white);
    text-align: left;
  }

  th,
  td {
    padding: var(--spacing-s) var(--spacing-base);
  }

  tbody tr {
    border-bottom: 1px solid var(--dark-grey);
  }

  tbody tr:nth-of-type(even) {
    background-color: var(--light-grey);
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary);
  }
}
