.CTABanner {
  --background-color: var(--light-grey);
  --padding-y: 48px;
  --padding-x: 24px;
  --border-radius: 12px;

  padding: var(--module-spacing-top) 0 var(--module-spacing-bottom);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  padding: var(--padding-y) var(--padding-x);
  background-color: var(--background-color);

  @include for-desktop-up {
    flex-direction: row;
    gap: var(--column);
  }

  @include for-tablet-up {
    border-radius: var(--border-radius);
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

  @include for-desktop-up {
    text-align: start;
  }
}
